<!doctype html>
<html lang="en">

<head>

</head>

<body>




    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Welcome to Terii E-Pariksha </h1>
                    <h3 class="lead">विद्यां ददाति विनयं,विनयाद् याति पात्रताम्।
                        पात्रत्वात् धनमाप्नोति,धनात् धर्मं ततः सुखम्॥</h3>
                </div>
            </div>
        </div>
    </header>
    <!-- <main class="main">
        <div class="creator">
          <img class="image" src="../../../assets/img/bg bg.JPG" alt="photo">
          <h2>Sushant kumar</h2>
          <p>Student of Btech 4th year CSE
            TERii college Kurukshetra
          </p>
        </div>
        
        <div class="creator" id="sudhanshu">
            <img class="image" src="../../../assets/img/bg bg.JPG" alt="photo">
            <h2>Sudhanshu Pandey</h2>
        </div>
        
    </main> -->
    
    
    <footer>
         CopyRight &copy; Sushant & Sudhanshu
    </footer>

</body>

</html>
