body {
  background-color: #fff;

}


.masthead {
  height:89.5vh;
  color: #fff;
  overflow-y: hidden;
  min-height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../../assets/img/bg.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Space Mono', monospace;


}

.h1, h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
.masthead h1{
  -webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
  animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.lead{
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:1.8rem;
}
/* .main{
  background-color:#fff;
  height:50vh;
  display:flex;
  

}
.image{
  
  padding:23px;

} */
/* .creator{
  width:24rem;
  height:40vh;
  margin-top:4rem;
  margin-left:10rem;
  background-size:auto;
  border-width:3px;
  border-style:solid;
  border-color:black;
  border-radius:23px;
  display:flex;
  position:relative;
  
} */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

